services:
  garage-hot:
    image: dxflrs/garage:v2.1.0
    container_name: garage-hot
    restart: unless-stopped
    configs:
      - source: garage_config
        target: /etc/garage.toml
        mode: 0600
    volumes:
      - garage-hot-meta:/var/lib/garage/meta
      - garage-hot-data:/var/lib/garage/data
    x-caddy: |
      http://garage-hot.serv4.reta.re {
        reverse_proxy {{upstreams 3900}}
        log
        @cdn {
          method GET
          path_regexp cdn_path ^/cdn/(?P<bucket>[^/]+)/.*$
        }
        handle @cdn {
          uri strip_prefix /cdn/{re.bucket}
          reverse_proxy {{upstreams 3902}} {
            header_up Host {re.bucket}.web.garage.localhost
          }
        }
      }
    x-machines:
      - nas

configs:
  garage_config:
    file: ./garage.toml

volumes:
  garage-hot-meta:
  garage-hot-data:
