{%- set for_section = "" -%}
{%- if section -%}
    {%- set for_section = section -%}
{%- endif -%}

{%- if (page and page.extra.list_for_section) or (section and section.extra.list_for_section) -%}
    {%- if page and page.extra.list_for_section -%}
        {%- set for_section = get_section(path=page.extra.list_for_section ~ "/_index.md") -%}
    {%- elif section and section.extra.list_for_section -%}
        {%- set for_section = get_section(path=section.extra.list_for_section ~ "/_index.md") -%}
    {%- endif -%}
    {%- set pages = for_section.pages -%}
    {%- if for_section.sort_by -%}
        {%- set pages = pages | sort(attribute=for_section.sort_by) -%}
    {%- endif -%}
    {%- set pages = pages | slice(end=section.extra.max_list_size | default(value=5)) -%}
{%- elif paginator.pages -%}
	{%- set pages = paginator.pages -%}
{%- elif section.pages -%}
	{%- set pages = section.pages -%}
{%- elif term.pages -%}
	{%- set pages = term.pages -%}
{%- else -%}
    {%- set pages = [] -%}
{%- endif -%}

{{ macros_articles::articles(
	pages=pages,
	date_format=date_format,
	date_locale=date_locale,
	language_strings=language_strings
) }}
