{%- if page.extra.comments.host -%}
	{%- set host = page.extra.comments.host -%}
{%- else -%}
	{%- set host = config.extra.comments.host -%}
{%- endif -%}

{%- if page.extra.comments.user -%}
	{%- set user = page.extra.comments.user -%}
{%- else %}
	{%- set user = config.extra.comments.user -%}
{%- endif -%}

{%- set id = page.extra.comments.id -%}

{%- set time_format = macros_translate::translate(key="time_format", default="%B %d, %Y", language_strings=language_strings) -%}
{%- set js_date_locale = macros_translate::translate(key="date_locale", default="en-US", language_strings=language_strings) | replace(from="_", to="-") -%}

{%- set cached_comments = load_data(path=page.relative_path ~ "-comments.json", required=false) -%}

<span id="blog-post-author-text" class="hidden">{{ macros_translate::translate(key="blog_post_author", default="Blog post author", language_strings=language_strings) }}</span>
<span id="boosts-from-text" class="hidden">{{ macros_translate::translate(key="boosts_from", default="Boosts from $INSTANCE", language_strings=language_strings) }}</span>
<span id="date-locale" class="hidden">{{ js_date_locale }}</span>
<span id="faves-from-text" class="hidden">{{ macros_translate::translate(key="faves_from", default="Favorites from $INSTANCE", language_strings=language_strings) }}</span>
<span id="host" class="hidden">{{ host }}</span>
<span id="id" class="hidden">{{ id }}</span>
<span id="loading-text" class="hidden">{{ macros_translate::translate(key="loading", default="Loading", language_strings=language_strings) }}…</span>
<span id="no-comments-text" class="hidden">{{ macros_translate::translate(key="no_comments", default="No Comments yet :/", language_strings=language_strings) }}</span>
<span id="rel-attributes" class="hidden">{{ rel_attributes }}</span>
<span id="reload-text" class="hidden">{{ macros_translate::translate(key="reload", default="Reload", language_strings=language_strings) }}</span>
<span id="sensitive-text" class="hidden">{{ macros_translate::translate(key="sensitive", default="Sensitive Content", language_strings=language_strings) }}</span>
<span id="user" class="hidden">{{ user }}</span>
<span id="view-comment-text" class="hidden">{{ macros_translate::translate(key="view_comment", default="View Comment At", language_strings=language_strings) }}</span>
<span id="view-profile-text" class="hidden">{{ macros_translate::translate(key="view_profile", default="View Profile At", language_strings=language_strings) }}</span>

{%- if config.markdown.lazy_async_image %}
	<span id="lazy-async-image" class="hidden">true</span>
{%- else -%}
	<span id="lazy-async-image" class="hidden">false</span>
{%- endif %}

<section id="comments">
	{%- if config.extra.comments.show_qr -%}
		<img
			id="qrcode"
			class="pixels no-hover"
			title="{{ macros_translate::translate(key='comments_qr', default='QR code to a Mastodon post', language_strings=language_strings) }}"
			{%- if config.markdown.lazy_async_image -%}decoding="async" loading="lazy"{%- endif -%}
			src="https://api.qrserver.com/v1/create-qr-code/?data=https://{{ host }}/@{{ user }}/{{ id }}"
		/>
	{%- endif -%}
	<h2>{{ macros_translate::translate(key="comments", default="Comments", language_strings=language_strings) }}</h2>
	<p>{{ macros_translate::translate(key="comments_description", default="You can comment on this blog post by publicly replying to this post using a Mastodon or other ActivityPub/Fediverse account. Known non-private replies are displayed below.", language_strings=language_strings) }}</p>
	{%- if cached_comments and cached_comments.descendants | length > 0 -%}
	    {%- set last_cached_time = "" -%}
	    {%- if config.extra.comments.last_cached_time -%}
			{% set last_cached_time = config.extra.comments.last_cached_time | date(format=time_format, locale=date_locale) %}
			{% set last_cached_time = " on " ~ last_cached_time %}
		{%- endif -%}
    	<small>{{ macros_translate::translate(key="comments_cached_description", default='These comments are cached and may have changed or been deleted since they were last fetched$DATE. Click on "Load New Comments" to use Javascript to fetch the newest ones.', language_strings=language_strings) | replace(from="$DATE", to=last_cached_time) | safe }}</small>
	{%- endif -%}
	<div class="buttons">
		<button id="load-comments">
			{{- macros_translate::translate(key="load_comments", default="Load Comments", language_strings=language_strings) -}}
		</button>
		<a class="colored external" href="https://{{ host }}/@{{ user }}/{{ id }}" rel="{{ rel_attributes }}">
			{{- macros_translate::translate(key="open_post", default="Open Post", language_strings=language_strings) -}}
		</a>
	</div>
	<div id="comments-wrapper">
		<noscript>
			<p>{{ macros_translate::translate(key="comments_noscript", default="Loading comments relies on JavaScript. Try enabling JavaScript and reloading, or visit the original post on Mastodon.", language_strings=language_strings) }}</p>
		</noscript>

		{%- if cached_comments -%}
		    {%- if cached_comments.descendants | length > 0 -%}
				{%- for status in cached_comments.descendants -%}
					{%- if status.account.display_name | length > 0 -%}
					    {%- set display_name = macros_comments::emojify(content=status.account.display_name, emojis=status.emojis) -%}
					{%- else -%}
					    {%- set display_name = status.account.username -%}
					{%- endif -%}
				    {%- if status.account.acct is containing("@") -%}
						{%- set instance = status.account.acct | split(pat="@") | nth(n=1) -%}
					{%- else -%}
					    {%- set instance = host -%}
					{%- endif -%}
				    {%- set is_reply = status.in_reply_to_id != id -%}
					{%- set op = status.account.acct == user -%}
					{%- set emojified_content = macros_comments::emojify(content=status.content, emojis=status.emojis) %}
				    <article
						id="comment={{ status.id }}"
						class="{%- if is_reply -%}comment comment-reply{% else %}comment{%- endif -%}{%- if op %} op{%- endif -%}"
						itemprop="comment"
						itemtype="http://schema.org/Comment"
					>
                        <a
                            class="avatar-link {%- if op %} op{%- endif -%}"
                            href="{{ status.account.url }}"
                            rel="{{ rel_attributes }}"
                            title="{%- if op -%}{{ macros_translate::translate(key="blog_post_author", default="Blog post author", language_strings=language_strings) }}: {% endif -%}{{ macros_translate::translate(key="view_profile", default="View Profile At", language_strings=language_strings) }} @{{ status.account.username}}@{{ instance }}"
                        >
                            <picture
                                {% if config.markdown.lazy_async_image -%}
                                decoding="async"
                                loading="lazy"
                                {%- endif %}
                            >
                                <source
                                    srcset="{{ status.account.avatar }}"
                                    media="(prefers-reduced-motion: no-preference)"
                                />
                                <img
                                    class="avatar"
                                    src="{{ status.account.avatar_static }}"
                                    alt="@{{ status.account.username }}@{{ instance }} avatar"
                                />
                            </picture>
                        </a>

                        <header class="author">
                            <span
                                class="display"
                                itemprop="author"
                                itemtype="http://schema.org/Person"
                            >{{ display_name }}</span>
                            <a
                                class="instance {%- if op %} op{%- endif -%}"
                                href="{{ status.account.url }}"
                                title="{%- if op -%}{{ macros_translate::translate(key="blog_post_author", default="Blog post author", language_strings=language_strings) }}: {% endif -%}@{{ status.account.username }}@{{ instance }}"
                                rel="{{ rel_attributes }}"
                            >{{ instance }}</a>
                        </header>

                        <time datetime="{{ status.created_at }}">
                            <a
                                class="external"
                                href="{{ status.url }}"
                                itemprop="url"
                                title="{{ macros_translate::translate(key="view_comment", default="View Comment At", language_strings=language_strings) }} {{ instance }}"
                                rel="{{ rel_attributes }}"
                            >
                                {{- status.created_at | date(format=time_format, timezone="Europe/Paris", locale=date_locale) -}}
                            </a>
                        </time>

                        <main itemprop="text">
                            {%- if status.sensitive or status.spoiler_text | length > 0 -%}
                                <details>
                                    <summary>
                                        {%- if status.spoiler_text | length > 0 -%}
                                            {{ status.spoiler_text }}
                                        {%- else -%}
                                            {{ macros_translate::translate(key="sensitive", default="Sensitive Content", language_strings=language_strings) }}
                                        {%- endif -%}
                                    </summary>
                                    {{ emojified_content | safe }}
                                </details>
                            {%- else -%}
                                {{ emojified_content | safe }}
                            {%- endif -%}
                        </main>

                        {%- set supported_media = ["image", "video", "gifv", "audio"] -%}
                        {%- for attachment in status.media_attachments -%}
                        {%- if supported_media is containing(attachment.type) -%}
                            <div class="attachments">
                            {%- if attachment.type == "image" -%}
                                <img
                                    src="{{ attachment.preview_url }}"
                                    class="no-hover {%- if status.sensitive %} spoiler{% endif -%}"
                                    {% if attachment.description -%}
                                    alt="{{ attachment.description }}"
                                    title="{{ attachment.description }}"
                                    {%- endif %}
                                    {% if config.markdown.lazy_async_image -%}
                                    decoding="async"
                                    loading="lazy"
                                    {%- endif %}
                                />
                            {%- elif attachment.type == "video" -%}
                                <video
                                    src="{{ attachment.url }}"
                                    controls
                                    class="{%- if status.sensitive %}spoiler{% endif -%}"
                                    {% if attachment.description -%}
                                    aria-title="{{ attachment.description }}"
                                    title="{{ attachment.description }}"
                                    {%- endif %}
                                />
                            {%- elif attachment.type == "gifv" -%}
                                <video
                                    src="{{ attachment.url }}"
                                    autoplay
                                    playsinline
                                    loop
                                    class="{%- if status.sensitive %}spoiler{% endif -%}"
                                    {% if attachment.description -%}
                                    aria-title="{{ attachment.description }}"
                                    title="{{ attachment.description }}"
                                    {%- endif %}
                                />
                            {%- elif attachment.type == "audio" -%}
                                <audio
                                    src="{{ attachment.url }}"
                                    controls
                                    {% if attachment.description -%}
                                    aria-title="{{ attachment.description }}"
                                    title="{{ attachment.description }}"
                                    {%- endif %}
                                />
                            {%- endif -%}
                            </div>
                        {%- endif -%}
                        {%- endfor -%}

                        <footer>
                            <a
                                class="boosts"
                                href="{{ status.url }}/reblogs"
                                title="{{ macros_translate::translate(key="boosts_from", default="Boosts from $INSTANCE", language_strings=language_strings) | replace(from="$INSTANCE", to=instance) }}"
                            >
                                <i class="icon"></i>
                                {{ status.reblogs_count }}
                            </a>
                            <a
                                class="faves"
                                href="{{ status.url }}/favourites"
                                title="{{ macros_translate::translate(key="faves_from", default="Favorites from $INSTANCE", language_strings=language_strings) | replace(from="$INSTANCE", to=instance) }}"
                            >
                                <i class="icon"></i>
                                {{ status.favourites_count }}
                            </a>
                        </footer>

                        {%- if status.card -%}
                            <a
                                class="card"
                                href="{{ status.card.url }}"
                                rel="{{ rel_attributes }}"
                            >
                                <figure>
                                    {%- if status.card.image -%}
                                        <img
                                            src="{{ status.card.image }}"
                                            class="no-hover"
                                            {% if config.markdown.lazy_async_image -%}
                                            decoding="async"
                                            loading="lazy"
                                            {%- endif %}
                                        />
                                    {%- endif -%}
                                    <figcaption>
                                        <strong>{{ status.card.title }}</strong>
                                        {%- if status.card.description and status.card.description | length > 0 -%}
                                            <p>{{ status.card.description }}</p>
                                        {%- endif -%}
                                    </figcaption>
                                </figure>
                            </a>
                        {%- endif -%}
					</article>
				{%- endfor -%}
			{%- else -%}
				<p id="comments-status">
    				<span id="no-comments-text">{{ macros_translate::translate(key="no_comments", default="No Comments yet :/", language_strings=language_strings) }}</span>
				</p>
			{%- endif -%}
		{%- endif -%}
	</div>
</section>
