.navbar {
  @apply text-right;

  ul {
    @apply flex flex-col gap-1;

    li {
      @apply text-fg-accent hover:text-fg-accent-hover;

      a {
        @apply border-b-2 border-dashed hover:border-solid;
      }
    }
  }
}
