@use "mods/a-no-underline-by-default";
@use "mods/article-heading";
@use "mods/banner-max-height";
@use "mods/blurred-header";
@use "mods/buttons-small-margin";
@use "mods/comments-fix";
@use "mods/content-size";
@use "mods/details-section";
@use "mods/footer-88x31";
@use "mods/iframe-fix";
@use "mods/image-class-utils";
@use "mods/inline-image";
@use "mods/main-width-fix";
@use "mods/nav-home-wild-fix";
@use "mods/no-js-nav";
@use "mods/rainbow-text";
@use "mods/reverse-scroll-crt";
@use "mods/say";
@use "mods/series-part-list";
@use "mods/simple-article-list";
@use "mods/spoiler-fix";
@use "mods/spoiler-tw";
@use "mods/tag-label";
@use "mods/wavy-text";
@use "mods/wild-mode";
@use "mods/zola-anchor";

.split-util {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  gap: 1rem;

  h2 {
    margin: initial;
  }

  .buttons {
    margin: initial;
  }
}

.split-util:has(h2) {
  margin: 2rem 0 1rem;
}
