@use "mods/a-no-underline-by-default";
@use "mods/article-heading";
@use "mods/buttons-small-margin";
@use "mods/content-size";
@use "mods/comments-fix";
@use "mods/no-js-nav";
@use "mods/rainbow-text";
@use "mods/reverse-scroll-crt";
@use "mods/series-part-list";
@use "mods/simple-article-list";
@use "mods/spoiler-fix";
@use "mods/tag-label";
@use "mods/zola-anchor";
