{% extends "_templates/base.html.tera" %}

{% block content %}

<section>

<h2>Recent Notes</h2>
<ul>
{% for content in data.posts[lang] %}
  <li>
    <a href="{{ content.route_path }}">{{ content.data.title }}</a>
    <time>({{ content.data.date | date(format="%Y-%m-%d", timezone="Europe/Paris") }})</time>
  </li>
{% endfor %}
</ul>

</section>

{% endblock %}
