{% extends "_templates/base.html.tera" %}

{% block title %}Astrid - Posts{% endblock title %}

{% block content %}

<section>

<!--<h2>Recent Notes <a class="header-action" href="/notes/">View all</a></h2>-->
<ul>
{% for content in data.posts[lang] %}
  <li>
    <time>{{ content.data.date | date(format="%Y-%m-%d", timezone="Europe/Paris") }}</time>
    <a href="{{ content.route_path }}">{{ content.data.title }}</a>
  </li>
{% endfor %}
</ul>

</section>

{% endblock %}
