@import 'tailwindcss';

@import './_include/external-link.css';
@import './_include/footer.css';
@import './_include/navbar.css';
@import './_include/page-wrapper.css';
@import './_include/taglist-88x31.css';

@theme {
  --font-sans: var(--font-sans-stack, 'sans-serif');
  --font-serif: var(--font-serif-stack, 'serif');
  --font-sans: var(--font-monospace-stack, 'ui-monospace');

  --color-fg-primary: var(--color-neutral-700);
  --color-fg-primary-faded: hsl(
    from var(--color-bg-primary) h calc(s * 0.5) calc(l * 0.4) / 75%
  );
  --color-fg-accent: var(--color-pink-600);
  --color-fg-accent-hover: hsl(from var(--color-fg-accent) calc(h * 0.5) s l);
  --color-fg-accent-faded: hsl(
    from var(--color-fg-accent) h s calc(l * 0.75) / 50%
  );
  --color-fg-accent-faded-hover: hsl(
    from var(--color-fg-accent-faded) calc(h * 0.5) s l
  );

  --color-bg-primary: hsl(from var(--color-orange-100) h s calc(l * 1.05));
  --color-bg-secondary: hsl(from var(--color-bg-primary) h s calc(l * 0.95));
}

:root {
  --font-monospace-stack:
    ui-monospace, iosevka, 'Fira Code', menlo, monaco, 'Cascadia Mono',
    'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace',
    'Source Code Pro', 'Droid Sans Mono', 'Courier New', monospace;

  --body-color: var(--color-bg-primary);
  scroll-behavior: smooth;
}

* {
  transition:
    0.3s color,
    0.3s text-shadow,
    0.5s background-color,
    0.5s background-image;
}

body {
  background-color: var(--body-color);
}
