@font-face {
  font-family: Quando;
  src:
    local('Quando Regular'), local('Quando-Regular'),
    url('/static/fonts/quando-regular-patched.woff2');
  font-display: swap;
}

:root {
  --font-stack:
    quando, constantia, 'Lucida Bright', lucidabright, 'Lucida Serif', lucida,
    'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', georgia, serif;
}
