services:
  personal-website:
    build: .
    x-caddy: |
      http://astriiid.fr {
        reverse_proxy {{upstreams 80}}
      }
      http://v3rm.in {
        redir https://astriiid.fr{uri} permanent
      }
    x-machines:
      - phloeomys
