services:
  personal-website:
    build: .
    x-caddy: |
      http://astriiid.fr {
        header Content-Security-Policy "
          default-src 'self';
          font-src 'self' https://fonts.gstatic.com;
          img-src 'self' https: data: blob:;
          media-src 'self' https:;
          script-src 'self' 'sha256-N9chTn5S0hU62Hotw4Ml5LKoceaZ+S+9kh1qlOAjuQM=';
          style-src 'self' 'unsafe-inline' https://fonts.googleapis.com;
          frame-src https://eldritch.cafe https://open-web-calendar.hosted.quelltext.eu https://invidious.nerdvpn.de https://www.youtube-nocookie.com;
          connect-src 'self' https://eldritch.cafe https://tracto.pl https://git.v3rm.in;
          base-uri 'none';
          form-action 'none'"

        reverse_proxy {{upstreams 80}}
      }
      http://v3rm.in {
        redir https://astriiid.fr{uri} permanent
      }
    x-machines:
      - phloeomys
