[{sa_id}]
type = {type}
client_id = {client_id}
client_secret = {client_secret}
scope = {scope}
service_account_file = {service_account_file}
trashed_only = {trashed_only}
use_trash = {use_trash}
shared_with_me = {shared_with_me}
list_chunk = {list_chunk}
chunk_size = {chunk_size}G
pacer_burst = {pacer_burst}
team_drive = {team_drive}
