{%- macro prettify_url(link) -%}
    {%- set stripped_url = link | trim_start_matches(pat="https://") | trim_start_matches(pat="http://") | trim_end_matches(pat="/") -%}
    {{- stripped_url -}}
{%- endmacro prettify_url -%}

{%- macro rainbow(content) -%}
    <span class="rainbow-text">
        {{- content | markdown(inline=true) | safe -}}
    </span>
{%- endmacro rainbow -%}

{%- macro wavy(content) -%}
    <span class="wavy-text">
        {%- for char in content -%}
            <span style="--nth: {{ loop.index }};">
                {%- if char == " " -%}
                &nbsp;
                {%- else -%}
                    {{ char }}
                {%- endif -%}
            </span>
        {%- endfor -%}
    </span>
{%- endmacro wavy -%}
