{%- macro prettify_url(link) -%}
    {%- set stripped_url = link |
        trim_start_matches(pat="https://") |
        trim_start_matches(pat="http://") |
        trim_end_matches(pat="/") |
        trim_end_matches(pat=".html")
    -%}
    {%- if stripped_url is matching("^github.com/[^/]+/[^/]+/?$") -%}
        {%- set stripped_url = stripped_url | trim_start_matches(pat="github.com/") -%}
    {%- endif -%}
    {{- stripped_url -}}
{%- endmacro prettify_url -%}

{%- macro rainbow(content) -%}
    <span class="rainbow-text">
        {{- content | markdown(inline=true) | safe -}}
    </span>
{%- endmacro rainbow -%}

{%- macro wavy(content) -%}
    <span class="wavy-text">
        {%- for char in content -%}
            <span style="--nth: {{ loop.index }};">
                {%- if char == " " -%}
                &nbsp;
                {%- else -%}
                    {{ char }}
                {%- endif -%}
            </span>
        {%- endfor -%}
    </span>
{%- endmacro wavy -%}

{%- macro wild_only(content, reverse=false, inline=false, as_elem="div", extra_attrs="") -%}
    {# the replace fix quadruple spaces beeing considered a code block in markdown #}
    {% set wild_content = content | replace(from="    ", to="  ") | markdown(inline=inline) %}

    {% if reverse -%}
        <{{ as_elem }} class="not-wild" {{ extra_attrs }}>
            {{ wild_content | safe }}
        </{{ as_elem }}>
    {%- else %}
        <{{ as_elem }} class="wild" hidden data-wild="{{ wild_content | base64_encode }}" {{ extra_attrs }}></{{ as_elem }}>
    {%- endif %}
{% endmacro wild_only %}
