services:
  forgejo-docker-in-docker:
    image: docker:dind
    container_name: 'docker_dind'
    privileged: 'true'
    command: ['dockerd', '-H', 'tcp://0.0.0.0:2375', '--tls=false']
    restart: 'unless-stopped'
    x-machines:
      - nas
  forgejo-runner:
    image: 'data.forgejo.org/forgejo/runner:11'
    links:
      - forgejo-docker-in-docker
    depends_on:
      forgejo-docker-in-docker:
        condition: service_started
    container_name: 'runner'
    environment:
      DOCKER_HOST: tcp://forgejo-docker-in-docker:2375
    # User without root privileges, but with access to `./data`.
    user: 1000:1000
    volumes:
      - forgejo-data:/data
    restart: 'unless-stopped'
    command: '/bin/sh -c "cd /data/gitea; sleep 5; HOME=/tmp forgejo-runner daemon --config /data/gitea/config.yml"'
    x-machines:
      - nas
  forgejo:
    image: codeberg.org/forgejo/forgejo:14
    # pull_policy: always
    container_name: forgejo
    restart: unless-stopped
    environment:
      USER_UID: 1000
      USER_GID: 1000
      FORGEJO__repository_ENABLE_PUSH_CREATE_USER: true
      FORGEJO__repository_DISABLE_STARS: true
      FORGEJO__server_ROOT_URL: https://git.v3rm.in/
      FORGEJO__server_LANDING_PAGE: explore
      FORGEJO__server_LFS_START_SERVER: true
      FORGEJO__database_DB_TYPE: sqlite3
      FORGEJO__service_DISABLE_REGISTRATION: true
      FORGEJO__other_SHOW_FOOTER_TEMPLATE_LOAD_TIME: false
    volumes:
      - forgejo-data:/data
      - /etc/localtime:/etc/localtime:ro
    x-ports:
      - git.v3rm.in:3000/http
      - 22:22/tcp@host
    x-machines:
      - nas

volumes:
  forgejo-data:
