services:
  forgejo:
    image: codeberg.org/forgejo/forgejo:13
    pull_policy: always
    container_name: forgejo
    restart: unless-stopped
    environment:
      USER_UID: 1000
      USER_GID: 1000
      FORGEJO__repository_ENABLE_PUSH_CREATE_USER: true
      FORGEJO__repository_DISABLE_STARS: true
      FORGEJO__server_ROOT_URL: https://git.v3rm.in/
      FORGEJO__server_LANDING_PAGE: explore
      FORGEJO__server_LFS_START_SERVER: true
      FORGEJO__database_DB_TYPE: sqlite3
      FORGEJO__service_DISABLE_REGISTRATION: true
      FORGEJO__other_SHOW_FOOTER_TEMPLATE_LOAD_TIME: false
    volumes:
      - forgejo-data:/data
      - /etc/localtime:/etc/localtime:ro
    x-ports:
      - git.v3rm.in:3000/http
      - 22:22/tcp@host
    x-machines:
      - nas

volumes:
  forgejo-data:
