#home > a > span.wild {
  position: relative;

  img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-inline-end: 0.25rem;
    border-radius: var(--rounded-corner-small);
  }

  span {
    margin-left: calc(1.5em + 0.25rem);
  }
}
