.someone-say-container {
  display: flex;
  gap: 1rem;
  margin: 1rem auto;

  &.respond {
    flex-flow: row-reverse;

    .someone-say-what {
      border-radius: var(--rounded-corner) var(--rounded-corner) 0 var(--rounded-corner);
    }
  }
}

.someone-say-who {
  align-self: end;
  width: 5rem;

  &.no-pp img {
    display: none;
  }

  & > img {
    margin: initial;
    box-shadow: initial;
    border-radius: initial;
    background-color: initial;
    width: 100%;
  }
}

.someone-say-what {
  align-self: start;
  box-shadow: var(--edge-highlight);
  border-radius: var(--rounded-corner) var(--rounded-corner) var(--rounded-corner) 0;
  padding: 0.5rem 1rem;
  background-color: var(--fg-muted-1);
  flex-grow: 1;
  max-width: calc(100% - 12rem);
  word-wrap: anywhere;

  & > p:first-child {
    margin-top: 0;
  }
  & > p:last-child {
    margin-bottom: 0;
  }
}

.someone-say-group {
  box-shadow: var(--edge-highlight);
  border-radius: var(--rounded-corner);
  padding: 0.5rem 1rem;
  background-color: var(--accent-color-alpha);

  .someone-say-what {
    align-self: initial;
    background-color: var(--accent-color-alpha);
  }

  .someone-say-container {
    margin: 0.5rem;

    &.respond {
      .someone-say-what {
        background-color: var(--fg-muted-1);
      }
    }
  }
}

@media (max-width: 600px) {
  .someone-say-container {
    flex-flow: column;
    gap: 0.25rem;

    &.respond {
      flex-flow: column;

      .someone-say-who {
        align-self: end;
      }

      .someone-say-what {
        border-radius: var(--rounded-corner) 0 var(--rounded-corner) var(--rounded-corner);
      }
    }
  }

  .someone-say-who {
    align-self: start;
    border-radius: 999px;
    border: 4px solid color-mix(in srgb, var(--bg-color), var(--accent-color) 30%);
    overflow: hidden;
    background-color: var(--fg-muted-3);
    width: 4rem;
    box-shadow: inset 0 0 0.4rem rgba(0 0 0 / 0.2);

    &.no-pp img {
      display: block;
    }

    & > img {
      transform: scale(1.2);

      &.flip {
        transform: rotateY(180deg) scale(1.2);
      }
    }
  }

  .someone-say-what {
    width: 100%;
    max-width: initial;
    border-radius: 0 var(--rounded-corner) var(--rounded-corner) var(--rounded-corner);
  }

  .someone-say-group {
    padding: 0.5rem 0;

    .someone-say-container {
      margin: 1rem;
    }
  }
}
