.button {
  transition: var(--transition);
  box-shadow: var(--edge-highlight);
  border-radius: var(--rounded-corner);
  background-color: var(--fg-muted-1);
  padding: .75rem 1rem;
  color: var(--fg-muted-5);
  font-weight: bold;
  font-size: var(--font-size-small);
  line-height: 1;
  appearance: none;
  cursor: pointer;
  border: none;
  font-family: inherit;

  &:hover {
    background-color: var(--fg-muted-2);
    color: var(--fg-color);
  }
}
