.spoiler.solid:has(.tw) {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: unset;

  & > .spoiler-content {
    visibility: hidden;
    display: block;
    margin-top: -0.75em;
    margin-bottom: -0.75em;
  }

  &:hover {
    vertical-align: initial;

    .tw {
      display: block;
      visibility: hidden;
      margin-top: -0.75em;
      margin-bottom: -0.75em;
    }

    & > .spoiler-content {
      // display: initial;
      visibility: initial;
    }

    &::after {
      background-color: rgba(0,0,0,0);
    }
  }

  .tw {
    z-index: 20;
    pointer-events: none;
    user-select: none;

    position: relative;
    padding: 0 0.3em;
    margin: 0;

    color: white !important;
  }

  &::after {
    z-index: 10;
    pointer-events: none;

    content: "";

    transition: var(--transition-longer);
    border-radius: var(--rounded-corner-small);
    background-color: var(--fg-muted-4);

    position: absolute;
    top: -0.125rem;
    left: 0;
    bottom: -0.125rem;
    right: 0;
  }
}

div.spoiler.solid:has(.tw)::after {
  left: -0.25rem;
  right: -0.75rem;
}
