span.spoiler,
div.spoiler {
  filter: blur(0.25rem);
  transition: var(--transition);

  &:hover,
  &:active {
    filter: none;
  }

  &.solid {
    filter: none;
    border-radius: var(--rounded-corner-small);
    background-color: var(--fg-muted-4);

    & > .spoiler-content {
      color: transparent;

      img {
        opacity: 0;
      }
    }

    &:hover,
    &:active {
      background-color: transparent;

      & > .spoiler-content {
        display: initial;
        color: inherit;

        img {
            opacity: initial;
        }
      }
    }
  }
}

img,
video {
  &.spoiler,
    &[src*="#spoiler"] {
      opacity: var(--dim-opacity);
      clip-path: inset(0 0 0 0 round var(--rounded-corner));
      filter: blur(3rem);

    &:hover,
    &:active {
      opacity: 1;
      clip-path: inset(
        -0.75rem -0.75rem -0.75rem -0.75rem round
          var(--rounded-corner-small)
      );
      filter: none;
    }
  }
}
