h1,
h2,
h3,
h4,
h5,
h6 {
	&:hover .zola-anchor {
		opacity: 1;
	}
}

.zola-anchor {
	position: absolute;
	transform: translateX(0.75rem) translateY(0.2rem);
	opacity: 0;
	transition: var(--transition);
	margin-inline-start: calc(-1em + -0.5rem);
	color: var(--fg-muted-4);
	line-height: 1;

	@media only screen and (max-width: 832px) {
		display: none;
	}

	:root[dir*="rtl"] & {
		transform: translateX(-0.5rem);
	}

	&:hover {
		color: var(--accent-color);
	}

	&:active {
		transform: var(--active);
	}

	&:focus-visible {
		opacity: 1;
	}

	.icon {
		-webkit-mask-image: var(--icon-link);
		mask-image: var(--icon-link);
		mask-size: cover;
		-webkit-mask-size: cover;
		transition: var(--transition);
		width: 0.75em;
		height: 0.75em;

		:root[dir*="rtl"] & {
			transform: scaleX(-1);
		}
	}
}

:target .zola-anchor {
	color: var(--accent-color-alpha);
}
